{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "content" %}
{% set pageId = "typography" %}

{% block content %}
  <h1>Typography</h1>

  <h3>Headings</h3>

  {{LabExample(pageType, pageId, 'headings')}}

  <div class="c-code">
    <pre><code>
    &lt;h1 class="u-canon"&gt;...&lt;/h1&gt;

    &lt;h1&gt;...&lt;/h1&gt;

    &lt;h2&gt;...&lt;/h2&gt;

    &lt;h3&gt;...&lt;/h3&gt;

    &lt;h4&gt;...&lt;/h4&gt;

    &lt;h5&gt;...&lt;/h5&gt;

    &lt;h6&gt;...&lt;/h6&gt;
    </code></pre>
  </div>

  <h3>Text</h3>

  {{LabExample(pageType, pageId, 'text')}}

  <div class="c-code">
    <pre><code>
    &lt;p class="u-brevier"&gt;...&lt;/p&gt;

    &lt;p class="u-minion"&gt;...&lt;/p&gt;

    &lt;p class="u-body-copy"&gt;...&lt;/p&gt;

    &lt;p&gt;
      &lt;a href="#"&gt;...&lt;/a&gt;
    &lt;/p&gt;
    </code></pre>
  </div>

  <h3>Lists</h3>

  {{LabExample(pageType, pageId, 'lists')}}

  <div class="c-code">
    <pre><code>
    &lt;ul&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      ...
    &lt;/ul&gt;

    &lt;ul&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      ...
    &lt;/ul&gt;

    &lt;blockquote&gt;
      &lt;p&gt;...&lt;/p&gt;
      &lt;cite&gt;...&lt;/cite&gt;
    &lt;/blockquote&gt;
    </code></pre>
  </div>

  <h3>Blockquote</h3>

  {{LabExample(pageType, pageId, 'blockquote')}}

  <div class="c-code">
    <pre><code>
    &lt;blockquote&gt;
      &lt;p&gt;...&lt;/p&gt;
      &lt;cite&gt;...&lt;/cite&gt;
    &lt;/blockquote&gt;
    </code></pre>
  </div>
{% endblock %}
