{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "content" %}
{% set pageId = "icons" %}

{% block content %}
  <h1>Icons</h1>

  <p>Place vector icons anywhere using our SVG sprite generator.</p>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code">
    <pre><code>
    &lt;span class="o-icon o-icon--bell"&gt;
      &lt;svg viewbox="0 0 1 1"&gt;
        &lt;use xlink:href="/assets/images/icons.svg#bell"&gt;&lt;/use&gt;
      &lt;/svg&gt;
    &lt;/span&gt;
    </code></pre>
  </div>
{% endblock %}
