{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example-tab.html' import ExampleTab %}

{% set pageId = "buttons" %}

{% block content %}
    <h1>Buttons</h1>

    <p>Easily create versatile buttons in a variety of styles.</p>

    <h3>Usage</h3>

    <div class="c-example">
        <div class="c-example__tabs">
            {{ExampleTab('/iframes/content.buttons.html', 'Open this example in a new window')}}
        </div>
        <iframe class="c-example__iframe" src="/iframes/content.buttons.html" data-module="LabFrame"></iframe>
    </div>
    <div class="c-code">
        <pre><code>
        &lt;button class="c-button"&gt;...&lt;/button&gt;

        &lt;a class="c-button" href="..."&gt;...&lt;/a&gt;

        &lt;div class="c-button"&gt;
            [icon]
            &lt;span class="c-button__text"&gt;...&lt;/span&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
{% endblock %}
