{% extends 'layouts/lab-iframe.html' %}

{% block body %}

    <div class="o-flex-grid">
        <div class="o-flex-grid__cell">
            <table class="c-table">
                <thead>
                    <tr>
                        <th>Col 1</th>
                        <th>Col 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Col 1</td>
                        <td>Col 2</td>
                    </tr>
                    <tr>
                        <td>Col 1</td>
                        <td>Col 2</td>
                    </tr>
                    <tr>
                        <td>Col 1</td>
                        <td>Col 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
