// Settings: Base

// Options
$healthcheck: false;
$grid-columns: 12;

// Sizes
$min-touch-size: 44px;
$site-max-width: 1200px;
$spacer: 1rem;
$spacer-sizes: (
  single: $spacer,
  double: $spacer * 2,
  triple: $spacer * 3
);

// Breakpoints
$breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 960px,
  xl: 1180px,
  xxl: 1400px
);

// Colours
// Use http://chir.ag/projects/name-that-color/#51284F
// for colour variable names
$alto: #dbdbdb;
$amaranth: #e7255f;
$bombay: #afb1b8;
$bonjour: #e5e0e1;
$dove-gray: #666;
$dune: #322e2d;
$gallery: #f0f0f0;

// Colour Types
$light: #fff;
$medium: #afb1b8;
$dark: #000;
$primary: #007bff;
$secondary: #e52b50;

// Fonts
$font: Helvetica, Arial, sans-serif;
$font-loaded: Helvetica, Arial, sans-serif;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Generic: Base
$base-bg-color: $light;
$base-text-color: $dark;
$base-font-family: $font;
$base-font-family-loaded: $font-loaded;
$base-font-weight: $font-weight-normal;
$base-font-size: $font-size;

// Elements: Blockquote
$blockquote-margin: $spacer 0;

// Elements: Headings
$heading-margin: ($spacer/2) 0 ($spacer + $spacer/2);
$heading-font: $font;
$heading-font-weight: $font-weight-bold;
$heading-color: inherit;
$heading-small-size: 75%;

// Elements: Inline
$code-bg: $light;
$code-font-family: $font-monospace;
$hr-width: 100%;
$hr-border: 1px solid $dark;
$hr-margin: $spacer auto;
$strong-font-weight: $font-weight-bold;
$small-font-size: 80%;
$cite-font-style: italic;

// Elements: Links
$link-color: $dark;
$link-hover-color: $dark;
$link-visited-color: $dark;
$link-visited-hover-color: $dark;
$link-trans-speed: 200;
$link-underline: underline;

// Elements: Lists
$list-margin-bottom: $spacer;
$list-margin-side: $spacer;
$list-nested-margin-side: $spacer;
$dt-font-weight: $font-weight-bold;

// Elements: Paragraph
$paragraph-margin: $spacer 0;

// Objects: Container
$container-max-width: $site-max-width;
$container-side-padding: $spacer;
$container-thin-max-width: $site-max-width / 2;

// Objects: Site
$site-content-padding: $spacer;

// Components: Accordion
$accordion-item-border: 1px solid $dark;
$accordion-toggle-padding: $spacer;
$accordion-content-padding: 0 $spacer $spacer;

// Components: Button
$button-padding: $spacer;
$button-min-width: $min-touch-size;
$button-min-height: 1em;
$button-border: 0;
$button-cursor: pointer;
$button-line-height: 1;
$button-bg: $primary;
$button-color: $light;
$button-hover-bg: $secondary;
$button-hover-color: $light;
$button-visited-bg: $button-bg;
$button-visited-color: $light;
$button-visited-hover-bg: $button-hover-bg;
$button-visited-hover-color: $button-hover-color;
$button-active-bg: $button-hover-bg;
$button-active-color: $button-hover-color;
$button-active-hover-bg: $button-hover-bg;
$button-active-hover-color: $button-hover-color;
$button-icon-fill: $button-color;
$button-text-decoration: none;

// Components: Card
$card-border: 1px solid $medium;
$card-bg: $light;
$card-header-padding: $spacer;
$card-header-bg: $medium;
$card-header-color: $dark;
$card-body-padding: $spacer;
$card-title-margin: 0 0 $spacer;

// Components: Form
$form-group-margin: $spacer;
$form-label-margin: $spacer / 2;
$form-control-padding: $spacer / 2;
$form-control-font-size: $base-font-size;

// Components: Hamburger
$hamburger-size: 40px;
$hamburger-border: none;
$hamburger-bg-color: none;
$hamburger-color: $dark;
$hamburger-color-hover: $dark;

// Components: List Group
$list-group-margin: 0;
$list-group-item-padding: $spacer;
$list-group-item-border: 1px solid $medium;
$list-group-item-action-bg: transparent;
$list-group-item-action-color: $dark;
$list-group-item-action-hover-bg: $button-hover-bg;
$list-group-item-action-hover-color: $button-hover-color;
$list-group-item-action-active-bg: $button-bg;
$list-group-item-action-active-color: $button-color;
$list-group-item-action-active-hover-bg: $button-hover-bg;
$list-group-item-action-active-hover-color: $button-hover-color;
$list-group-item-action-text-decoration: none;

// Components: Nav
$nav-link-color: $link-color;
$nav-link-bg: transparent;
$nav-link-hover-color: $nav-link-color;
$nav-link-hover-bg: $nav-link-bg;
$nav-link-text-decoration: none;
$nav-link-text-align: center;
$nav-link-trans-speed: 200;
$nav-link-active-color: $nav-link-color;
$nav-link-active-bg: transparent;
$nav-item-padding: 0;
$nav-link-padding: $spacer;
$nav-link-font-weight: $font-weight-normal;

// Components: Nav
$accordion-nav-bg: $light;
$accordion-nav-border: none;

// Components: Nav Dropdown
$dropdown-nav-min-width: 200px;
$dropdown-nav-bg: $light;
$dropdown-nav-border: $dark 1px solid;

// Components: Pagination
$pagination-link-padding: $spacer / 2;
$pagination-link-border-width: 1px;
$pagination-link-border: $pagination-link-border-width solid $medium;
$pagination-active-bg: $medium;
$pagination-disabled-color: $medium;

// Components: Table
$table-th-padding: $spacer;
$table-th-border-top: none;
$table-th-border-right: none;
$table-th-border-bottom: 2px solid $medium;
$table-th-border-left: none;
$table-td-padding: $spacer;
$table-td-border-top: none;
$table-td-border-right: none;
$table-td-border-bottom: 1px solid $medium;
$table-td-border-left: none;
