.sidebar {
  .docs-nav {
    display: none;
  }

  &.is-active {
    .docs-nav {
      display: block;
    }
  }
}

@include md {
  .sidebar {
    width: 200px;

    > .button {
      display: none;
    }

    .docs-nav {
      display: block;
    }
  }
}

@include lg {
  .sidebar {
    width: 300px;
  }
}
