{% extends 'layouts/lab-source.html' %}

{% from 'macros/lab-icon.html' import Icon %}

{% block body %}

  <div class="o-flex-grid">
    <div class="o-flex-grid__cell">
      <p>
        <button class="c-button">Button</button>
      </p>
      <p>
        <a class="c-button" href="#">Link Button</a>
      </p>
      <p>
        <button class="c-button">
          {{Icon('plus')}}
          <span class="c-button__text">Button</span>
        </button>
      </p>
    </div>
  </div>

{% endblock %}
