{% extends 'layouts/lab-source.html' %}

{% from 'icon.html' import Icon %}

{% macro Button(model) %}
  {% if model.url %}
    <a class="button" href="{{modal.url}}">
      {% if model.icon %}
        {{Icon(model.icon)}}
      {% endif %}
      <span class="button__text">{{model.description}}</span>
    </a>
  {% else %}
    <button class="button">
      {% if model.icon %}
        {{Icon(model.icon)}}
      {% endif %}
      <span class="button__text">{{model.description}}</span>
    </button>
  {% endif %}
{% endmacro %}

{% block body %}

  {{ Button({
    'description': 'Primary'
  }) }}

{% endblock %}
