{% extends 'layouts/lab-source.html' %}

{% from 'macros/icon.html' import Icon %}

{% block body %}
  {{Icon('archive')}}
  {{Icon('arrow-down')}}
  {{Icon('arrow-left')}}
  {{Icon('arrow-right')}}
  {{Icon('arrow-up')}}
  {{Icon('bell')}}
  {{Icon('calendar')}}
  {{Icon('camera')}}
  {{Icon('cart')}}
  {{Icon('chart')}}
  {{Icon('check')}}
  {{Icon('chevron-down')}}
  {{Icon('chevron-left')}}
  {{Icon('chevron-right')}}
  {{Icon('chevron-up')}}
  {{Icon('clock')}}
  {{Icon('close')}}
  {{Icon('comment')}}
  {{Icon('credit-card')}}
  {{Icon('envelope')}}
  {{Icon('exclamation')}}
  {{Icon('external-link')}}
  {{Icon('eye')}}
  {{Icon('facebook')}}
  {{Icon('gear')}}
  {{Icon('github')}}
  {{Icon('heart')}}
  {{Icon('image')}}
  {{Icon('instagram')}}
  {{Icon('like')}}
  {{Icon('link')}}
  {{Icon('linkedin')}}
  {{Icon('location')}}
  {{Icon('lock')}}
  {{Icon('minus')}}
  {{Icon('pencil')}}
  {{Icon('pinterest')}}
  {{Icon('play')}}
  {{Icon('plus')}}
  {{Icon('question')}}
  {{Icon('redo')}}
  {{Icon('refresh')}}
  {{Icon('retweet')}}
  {{Icon('search')}}
  {{Icon('share-apple')}}
  {{Icon('share-google')}}
  {{Icon('skype')}}
  {{Icon('star')}}
  {{Icon('tag')}}
  {{Icon('trash')}}
  {{Icon('tumblr')}}
  {{Icon('twitter')}}
  {{Icon('undo')}}
  {{Icon('unlock')}}
  {{Icon('user')}}
  {{Icon('vimeo')}}
  {{Icon('youtube')}}
{% endblock %}
