.app-header {
  @include font-size-md;

  padding: ($spacer * 3);
  background-color: $dune;
  color: $color-light;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.app-content {
  padding: ($spacer * 4) $spacer;
}

.powered {
  @include font-size-sm;

  padding: $spacer $spacer 0;
  margin: 0;
}

.build {
  @include font-size-sm;

  padding: $spacer;
  margin: 0;
}
