{% extends 'lab-side-content.html' %}

{% set AppParentId = "content" %}
{% set AppCurrentId = "images" %}

{% block content %}
  <h1>Images</h1>

  <p class="font-size-md">Examples of adding images with responsive behaviour to your page.</p>

  <h2>Usage</h2>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <img src="//placehold.it/780x250" alt="...">
  ')}}

  <h2>Picture</h2>

  {{LabExample(AppParentId, AppCurrentId, 'picture')}}
  {{LabCode('html', '
  <picture>
    <source srcset="//placehold.it/780x250" media="(min-width: 768px)">
    <source srcset="//placehold.it/420x250" media="(max-width: 768px)">
    <img src="//placehold.it/480x250" alt="...">
  </picture>
  ')}}
{% endblock %}
