{% from 'button.html' import Button %}
{% from 'navbar.html' import Navbar %}
{% from 'components/footer.html' import Footer %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jaywing Frontend site starter kit</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script>
      if (document.documentElement) {
        document
          .documentElement
          .classList
          .add('js');
      }
    </script>
  </head>
  <body class="display-flex flex-column min-height-100">
    {{ Navbar({
      'brand': {
        'title': 'Navbar',
        'url': '#'
      },
      'nav': {
        'items': [
          {
            'title': 'Link 1',
            'url': '#'
          },
          {
            'title': 'Link 2',
            'url': '#'
          },
          {
            'title': 'Link 3',
            'url': '#'
          }
        ],
        'classes': ' navbar__nav'
      }
    }) }}
    {% block body %}{% endblock %}
    <footer class="margin-top-auto">
      {{ Footer() }}
    </footer>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
