{% set AppParentId = "components" %}
{% set AppCurrentId = "button" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Button</h1>

  <p class="font-size-md">Easily create versatile buttons in a variety of styles.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <button class="button">
    <span class="button__text">Primary</span>
  </button>
  ')}}

  <h3>Link</h3>

  {{LabExample(AppParentId, AppCurrentId, 'link')}}
  {{LabCode('html', '
  <a class="button" href="">
    <span class="button__text">Link</span>
  </a>
  ')}}

  <h3>Icon</h3>

  {{LabExample(AppParentId, AppCurrentId, 'icon')}}
  {{LabCode('html', '
  <button class="button">
    <span class="icon icon--plus">
        <svg viewBox="0 0 1 1">
            <use xlink:href="../images/icons.svg#plus"></use>
        </svg>
    </span>
    <span class="button__text">Primary</span>
  </button>
  ')}}
{% endblock %}
