{% set AppParentId = "components" %}
{% set AppCurrentId = "table" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Table</h1>

  <p class="font-size-md">Example of styled tables.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <table class="table">
    <thead>
      <tr>
        <th>...</th>
        <th>...</th>
        ...
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>...</td>
        <td>...</td>
        ...
      </tr>
      ...
    </tbody>
  </table>
  ')}}
{% endblock %}
