{% set AppParentId = "components" %}
{% set AppCurrentId = "buttons" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Buttons</h1>

  <p>Easily create versatile buttons in a variety of styles.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, 'button')}}
  {{LabCode('html', '
  <button class="button">...</button>

  <a href="..." class="button">...</a>

  <button class="button">
    <span class="icon icon--plus">
      <svg viewbox="0 0 1 1">
        <use xlink:href="/assets/images/icons.svg#plus"></use>
      </svg>
    </span>
  </button>

  <button class="button">
    ...
    <span class="icon icon--plus">
      <svg viewbox="0 0 1 1">
        <use xlink:href="/assets/images/icons.svg#plus"></use>
      </svg>
    </span>
  </button>
  ')}}
{% endblock %}
