{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "content" %}
{% set pageId = "images" %}

{% block content %}
  <h1>Images</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html">
      <code class="language-html">
      &lt;img src="//placehold.it/780x250" alt="..."&gt;
      </code>
    </pre>
  </div>

  <h3>Picture</h3>

  {{LabExample(pageType, pageId, 'picture')}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html">
      <code class="language-html">
      &lt;picture&gt;
        &lt;source srcset="//placehold.it/780x250" media="(min-width: 768px)"&gt;
        &lt;source srcset="//placehold.it/420x250" media="(max-width: 768px)"&gt;
        &lt;img src="//placehold.it/480x250" alt="..."&gt;
      &lt;/picture&gt;
      </code>
    </pre>
  </div>
{% endblock %}
