{% set AppParentId = "content" %}
{% set AppCurrentId = "typography" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Typography</h1>

  <h3>Headings</h3>
  AppParentId
  {{LabExample(AppParentId, AppCurrentId, 'headings')}}

  <h3>Text</h3>
  AppParentId
  {{LabExample(AppParentId, AppCurrentId, 'text')}}
  {{LabCode('html', '
  <p class="brevier">...</p>

  <p class="minion">...</p>

  <p class="body-copy">...</p>

  <p>
    <a href="#">...</a>
  </p>
  ')}}

  <h3>Lists</h3>
  AppParentId
  {{LabExample(AppParentId, AppCurrentId, 'lists')}}
  {{LabCode('html', '
  <ul>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    ...
  </ul>

  <ul>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    ...
  </ul>
  ')}}

  <h3>Blockquote</h3>
  AppParentId
  {{LabExample(AppParentId, AppCurrentId, 'blockquote')}}
  {{LabCode('html', '
  <blockquote>
    <p>...</p>
    <cite>...</cite>
  </blockquote>
  ')}}
{% endblock %}
