{% set AppParentId = "getting-started" %}
{% set AppCurrentId = "introduction" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-nav-link.html' import LabNavLink %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Introduction</h1>

  <p>An open source toolkit for developing with HTML, CSS and JS.</p>

  <h3>Requirements</h3>

  <p>Requires at least version 6 of Node. We reccomend using nvm to install and manage your Node versions.</p>

  <h3>Installation</h3>

  {{LabCode('html', '
  $ yarn
  ')}}

  <h3>Prototyping</h3>

  {{LabCode('html', '
  $ yarn start
  ')}}

  <h3>Production</h3>

  {{LabCode('html', '
  $ yarn build
  ')}}

  {% if resources %}
    <h3>Resources</h3>

    <ul class="nav nav--vertical">
      {% for page in resources %}
        {{ LabNavLink(page, AppParentId, AppCurrentId, loop) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
