{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "layouts" %}
{% set pageId = "sidebar" %}

{% block content %}
  <h1>Sidebar</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <div class="site__header">...</div>
  <main class="site__content">
    <div class="container container--collapse">
      <div class="container__sidebar size-width-25@md">
        ...
      </div>
      <div class="container__body size-width-75@md">
        ...
      </div>
    </div>
  </main>
  <div class="site__footer">...</div>
  ')}}
{% endblock %}
